.box {
    background-color: aqua;
}
.red {
    background-color: rgb(182, 117, 117);
}
.green {
    background-color: rgb(159, 255, 159);
}
.yellow {
    background-color:  rgb(194, 194, 112);
}
.blue {
    background-color: rgb(129, 129, 143);
}

.box-1 {
    height: 400px;
    background-color: rgb(105, 160, 160);
   
}
.box-2 {
    height: 200px;
    background-color:  rgb(194, 194, 112);
}
.box-3 {
    height: 200px;
    background-color: rgb(155, 120, 120);
}
.box-4 {
    height: 200px;
    background-color: rgb(51, 90, 71);
}
